n8n/workflows/01-native-intake-post-create.json
{
  "name": "KeyPoint | Native intake office queue kickoff",
  "nodes": [
    {
      "id": "intakeTrigger",
      "name": "Intake submitted trigger",
      "type": "n8n-nodes-base.airtableTrigger",
      "typeVersion": 1,
      "position": [220, 280],
      "parameters": {
        "base": "={{ $env.AIRTABLE_BASE_ID }}",
        "table": "={{ $env.AIRTABLE_CASES_TABLE }}",
        "options": {
          "watchFor": "recordUpdated"
        }
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-keypoint",
          "name": "Airtable KeyPoint"
        }
      }
    },
    {
      "id": "filterIntakeSubmitted",
      "name": "Intake submitted + pending approval?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 280],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.fields['Current stage'] || '' }}",
              "operation": "equal",
              "value2": "intake-submitted"
            },
            {
              "value1": "={{ $json.fields['Client portal status'] || '' }}",
              "operation": "equal",
              "value2": "pending-office-approval"
            }
          ]
        }
      }
    },
    {
      "id": "logOfficeQueue",
      "name": "Log office review queue",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [780, 220],
      "parameters": {
        "operation": "create",
        "base": {
          "mode": "id",
          "value": "={{ $env.AIRTABLE_BASE_ID }}"
        },
        "table": {
          "mode": "name",
          "value": "={{ $env.AIRTABLE_ACTIVITY_LOG_TABLE }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": "={{ { 'Case link': $json.fields['Case ID'] || '', Actor: 'office-automation', 'Event type': 'office_review_queued', Summary: `Native intake queued for office review: ${$json.fields['Lead name'] || 'Unknown lead'}`, 'Source system': 'n8n', Timestamp: new Date().toISOString() } }}"
        }
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-keypoint",
          "name": "Airtable KeyPoint"
        }
      }
    },
    {
      "id": "officeAlertConfigured",
      "name": "Office alert configured?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1040, 220],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $env.OFFICE_ALERT_WEBHOOK_URL || '' }}",
              "operation": "notEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "sendOfficeAlert",
      "name": "Send office alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 160],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OFFICE_ALERT_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { channel: 'whatsapp', caseId: $item(0).$node['Intake submitted trigger'].json.fields['Case ID'] || '', leadName: $item(0).$node['Intake submitted trigger'].json.fields['Lead name'] || '', phone: $item(0).$node['Intake submitted trigger'].json.fields['Phone'] || '', message: 'Native intake submitted and queued for office review' } }}"
      }
    }
  ],
  "connections": {
    "Intake submitted trigger": {
      "main": [
        [
          {
            "node": "Intake submitted + pending approval?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intake submitted + pending approval?": {
      "main": [
        [
          {
            "node": "Log office review queue",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Log office review queue": {
      "main": [
        [
          {
            "node": "Office alert configured?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Office alert configured?": {
      "main": [
        [
          {
            "node": "Send office alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    "keypoint",
    "mortgage-mvp",
    "israel"
  ],
  "versionId": "1"
}
