n8n/workflows/03-document-upload-review-queue.json
{
  "name": "KeyPoint | Document upload review queue",
  "nodes": [
    {
      "id": "uploadWebhook",
      "name": "Document upload webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        320
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "keypoint/document-upload",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "normalizeUpload",
      "name": "Normalize upload event",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        320
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "caseDocumentRecordId",
              "value": "={{ $json.body.caseDocumentRecordId || $json.caseDocumentRecordId }}",
              "type": "string"
            },
            {
              "name": "caseId",
              "value": "={{ $json.body.caseId || $json.caseId }}",
              "type": "string"
            },
            {
              "name": "documentCode",
              "value": "={{ $json.body.documentCode || $json.documentCode }}",
              "type": "string"
            },
            {
              "name": "fileUrl",
              "value": "={{ $json.body.fileUrl || $json.body.path || $json.fileUrl || $json.path }}",
              "type": "string"
            },
            {
              "name": "fileName",
              "value": "={{ $json.body.fileName || $json.fileName }}",
              "type": "string"
            },
            {
              "name": "phone",
              "value": "={{ $json.body.phone || $json.phone || '' }}",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "markUnderReview",
      "name": "Mark under review",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        780,
        220
      ],
      "parameters": {
        "operation": "update",
        "base": {
          "mode": "id",
          "value": "={{ $env.AIRTABLE_BASE_ID }}"
        },
        "table": {
          "mode": "name",
          "value": "={{ $env.AIRTABLE_DOCUMENTS_TABLE }}"
        },
        "id": "={{ $json.caseDocumentRecordId }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": "={{ { Status: \"under-review\", \"Uploaded file URL\": $json.fileUrl } }}"
        }
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-keypoint",
          "name": "Airtable KeyPoint"
        }
      }
    },
    {
      "id": "ocrExtraction",
      "name": "OCR / extraction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        220
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DOCUMENT_OCR_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { fileUrl: $json.fileUrl, fileName: $json.fileName, documentCode: $json.documentCode, caseId: $json.caseId } }}"
      }
    },
    {
      "id": "reviewGate",
      "name": "Rejected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1300,
        220
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status || $json.reviewStatus }}",
              "operation": "equal",
              "value2": "rejected"
            }
          ]
        }
      }
    },
    {
      "id": "queueSecretary",
      "name": "Queue secretary review",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1560,
        120
      ],
      "parameters": {
        "operation": "update",
        "base": {
          "mode": "id",
          "value": "={{ $env.AIRTABLE_BASE_ID }}"
        },
        "table": {
          "mode": "name",
          "value": "={{ $env.AIRTABLE_DOCUMENTS_TABLE }}"
        },
        "id": "={{ $item(0).$node[\"Normalize upload event\"].json.caseDocumentRecordId }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": "={{ { Status: \"uploaded\", \"OCR summary\": $json.summary || \"Extraction complete\", \"Review notes\": $json.flags?.join(\", \") || \"Needs human validation\" } }}"
        }
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-keypoint",
          "name": "Airtable KeyPoint"
        }
      }
    },
    {
      "id": "markResubmit",
      "name": "Mark resubmit needed",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1560,
        340
      ],
      "parameters": {
        "operation": "update",
        "base": {
          "mode": "id",
          "value": "={{ $env.AIRTABLE_BASE_ID }}"
        },
        "table": {
          "mode": "name",
          "value": "={{ $env.AIRTABLE_DOCUMENTS_TABLE }}"
        },
        "id": "={{ $item(0).$node[\"Normalize upload event\"].json.caseDocumentRecordId }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": "={{ { Status: \"resubmit-needed\", \"OCR summary\": $json.summary || \"Rejected by OCR/review rules\", \"Review notes\": $json.reason || \"Unreadable / incomplete\", \"Requested resubmission at\": new Date().toISOString() } }}"
        }
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-keypoint",
          "name": "Airtable KeyPoint"
        }
      }
    },
    {
      "id": "request-resubmission",
      "name": "Request resubmission",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1820,
        340
      ],
      "parameters": {
        "resource": "sms",
        "operation": "send",
        "from": "={{ $env.TWILIO_WHATSAPP_FROM }}",
        "to": "={{ $item(0).$node[\"Normalize upload event\"].json.phone }}",
        "toWhatsapp": true,
        "message": "={{ `צריך להעלות מחדש את המסמך ${$item(0).$node[\"Normalize upload event\"].json.documentCode}: ${$json.reason || \"הקובץ לא קריא\"}` }}",
        "options": {}
      },
      "credentials": {
        "twilioApi": {
          "id": "twilio-keypoint",
          "name": "Twilio KeyPoint"
        }
      }
    },
    {
      "id": "doneResponse",
      "name": "Webhook response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2080,
        220
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, status: \"queued\" } }}"
      }
    }
  ],
  "connections": {
    "Document upload webhook": {
      "main": [
        [
          {
            "node": "Normalize upload event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize upload event": {
      "main": [
        [
          {
            "node": "Mark under review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark under review": {
      "main": [
        [
          {
            "node": "OCR / extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR / extraction": {
      "main": [
        [
          {
            "node": "Rejected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rejected?": {
      "main": [
        [
          {
            "node": "Mark resubmit needed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Queue secretary review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue secretary review": {
      "main": [
        [
          {
            "node": "Webhook response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark resubmit needed": {
      "main": [
        [
          {
            "node": "Request resubmission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request resubmission": {
      "main": [
        [
          {
            "node": "Webhook response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    "keypoint",
    "mortgage-mvp",
    "israel"
  ],
  "versionId": "1"
}
