n8n/workflows/04-appraiser-dispatch.json
{
  "name": "KeyPoint | Appraiser dispatch",
  "nodes": [
    {
      "id": "appraisalTrigger",
      "name": "Ready for appraisal trigger",
      "type": "n8n-nodes-base.airtableTrigger",
      "typeVersion": 1,
      "position": [
        220,
        280
      ],
      "parameters": {
        "base": "={{ $env.AIRTABLE_BASE_ID }}",
        "table": "Cases",
        "options": {
          "watchFor": "recordUpdated"
        }
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-keypoint",
          "name": "Airtable KeyPoint"
        }
      }
    },
    {
      "id": "filterStage",
      "name": "Waiting appraiser?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        280
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.fields[\"Current stage\"] }}",
              "operation": "equal",
              "value2": "waiting-appraiser"
            }
          ]
        }
      }
    },
    {
      "id": "pickAppraiser",
      "name": "Pick appraiser",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        760,
        220
      ],
      "parameters": {
        "operation": "search",
        "base": {
          "mode": "id",
          "value": "={{ $env.AIRTABLE_BASE_ID }}"
        },
        "table": {
          "mode": "name",
          "value": "Appraisers"
        },
        "filterByFormula": "={{ \"{Region}=\"\" + ($item(0).$node[\"Ready for appraisal trigger\"].json.fields.Region || \"Center\") + \"\"\" }}"
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-keypoint",
          "name": "Airtable KeyPoint"
        }
      }
    },
    {
      "id": "buildBrief",
      "name": "Build appraiser brief",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        220
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "appraiserId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "name": "appraiserPhone",
              "value": "={{ $json.fields[\"WhatsApp number\"] }}",
              "type": "string"
            },
            {
              "name": "brief",
              "value": "={{ `תיק ${$item(0).$node[\"Ready for appraisal trigger\"].json.fields[\"Case ID\"]}: ${$item(0).$node[\"Ready for appraisal trigger\"].json.fields[\"Lead name\"]}, סוג עסקה ${$item(0).$node[\"Ready for appraisal trigger\"].json.fields[\"Case type\"]}` }}",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "sendToAppraiser",
      "name": "Send appraisal request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        220
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WHATSAPP_PROVIDER_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { to: $json.appraiserPhone, template: \"appraisal_dispatch_he\", body: $json.brief } }}"
      }
    },
    {
      "id": "createJob",
      "name": "Create appraisal job",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1560,
        220
      ],
      "parameters": {
        "operation": "create",
        "base": {
          "mode": "id",
          "value": "={{ $env.AIRTABLE_BASE_ID }}"
        },
        "table": {
          "mode": "name",
          "value": "Appraisal jobs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": "={{ { \"Case link\": [$item(0).$node[\"Ready for appraisal trigger\"].json.id], \"Appraiser link\": [$json.appraiserId], \"Referral sent at\": new Date().toISOString(), \"Payment status\": \"pending\" } }}"
        }
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-keypoint",
          "name": "Airtable KeyPoint"
        }
      }
    },
    {
      "id": "waitForAck",
      "name": "Wait 4 hours for acknowledgement",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1820,
        220
      ],
      "parameters": {
        "resume": "timeInterval",
        "amount": 4,
        "unit": "hours"
      }
    },
    {
      "id": "checkAck",
      "name": "Ack received?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2080,
        220
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.fields?.Acknowledged || \"\" }}",
              "operation": "notEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "notifyTimeout",
      "name": "Notify office timeout",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2340,
        320
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OFFICE_ALERT_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { caseId: $item(0).$node[\"Ready for appraisal trigger\"].json.id, message: \"שמאי לא אישר קבלה תוך 4 שעות\" } }}"
      }
    }
  ],
  "connections": {
    "Ready for appraisal trigger": {
      "main": [
        [
          {
            "node": "Waiting appraiser?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Waiting appraiser?": {
      "main": [
        [
          {
            "node": "Pick appraiser",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Pick appraiser": {
      "main": [
        [
          {
            "node": "Build appraiser brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build appraiser brief": {
      "main": [
        [
          {
            "node": "Send appraisal request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send appraisal request": {
      "main": [
        [
          {
            "node": "Create appraisal job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create appraisal job": {
      "main": [
        [
          {
            "node": "Wait 4 hours for acknowledgement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 4 hours for acknowledgement": {
      "main": [
        [
          {
            "node": "Ack received?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack received?": {
      "main": [
        [],
        [
          {
            "node": "Notify office timeout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    "keypoint",
    "mortgage-mvp",
    "israel"
  ],
  "versionId": "1"
}
