n8n/workflows/05-bank-follow-up-reminders.json
{
  "name": "KeyPoint / Bank follow-up and reminders",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "keypoint/bank-followup-daily",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "2b5f8c63-31ac-41ff-968b-e90342344eb0",
      "name": "Bank Follow-up Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.airtable.com/v0/{{$env.AIRTABLE_BASE_ID}}/{{$env.KEYPOINT_AIRTABLE_BANK_RUNS_TABLE || \"Bank runs\"}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.AIRTABLE_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {},
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filterByFormula",
              "value": "=OR({Status}=\"requested\", {Status}=\"received\")"
            },
            {
              "name": "maxRecords",
              "value": "100"
            }
          ]
        }
      },
      "id": "bee0e3f6-0b8f-47e2-acc8-107e38e3a0c5",
      "name": "Load Open Bank Runs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst today = new Date();\nconst records = $json.records || [];\nconst reminders = [];\nfor (const record of records) {\n  const f = record.fields || {};\n  const requestedAt = f['Requested at'] ? new Date(f['Requested at']) : null;\n  const expiryDate = f['Expiry date'] ? new Date(f['Expiry date']) : null;\n  const ageHours = requestedAt ? Math.round((today - requestedAt) / 36e5) : null;\n  const expiryDays = expiryDate ? Math.ceil((expiryDate - today) / 86400000) : null;\n  if (f['Status'] === 'requested' && ageHours !== null && ageHours >= 48) {\n    reminders.push({ type: 'bank_followup', bank: f['Bank name'], caseId: (f['Case link'] || [])[0], ageHours, recordId: record.id });\n  }\n  if (f['Status'] === 'received' && expiryDays !== null && expiryDays <= 2) {\n    reminders.push({ type: 'expiry_warning', bank: f['Bank name'], caseId: (f['Case link'] || [])[0], expiryDays, recordId: record.id });\n  }\n}\nreturn [{ json: {\n  runAt: today.toISOString(),\n  reminderCount: reminders.length,\n  reminders,\n  officeAlert: {\n    message: `KeyPoint bank follow-up scan found ${reminders.length} reminder(s).`,\n    reminders,\n  }\n}}];\n"
      },
      "id": "16ca48b2-7f2c-4542-9fef-32c0114e86e4",
      "name": "Build Reminder Queue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.KEYPOINT_OFFICE_NOTIFY_WEBHOOK_URL}}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.officeAlert }}"
      },
      "id": "2f627d2e-c74b-449e-8099-ebd6d973f489",
      "name": "Notify Office Follow-up Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1160,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.airtable.com/v0/{{$env.AIRTABLE_BASE_ID}}/{{$env.KEYPOINT_AIRTABLE_ACTIVITY_LOG_TABLE || \"Activity log\"}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.AIRTABLE_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { records: [{ fields: { \"Case link\": [], \"Actor\": \"n8n\", \"Event type\": \"bank_followup_scan\", \"Summary\": `Bank follow-up scan created ${$json.reminderCount} reminders`, \"Source system\": \"n8n\", \"Timestamp\": $json.runAt } }] } }}"
      },
      "id": "392f191d-d2d0-4206-80c2-6d244067f65d",
      "name": "Write Reminder Activity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        300
      ]
    }
  ],
  "connections": {
    "Bank Follow-up Trigger": {
      "main": [
        [
          {
            "node": "Load Open Bank Runs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Open Bank Runs": {
      "main": [
        [
          {
            "node": "Build Reminder Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Reminder Queue": {
      "main": [
        [
          {
            "node": "Notify Office Follow-up Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Office Follow-up Queue": {
      "main": [
        [
          {
            "node": "Write Reminder Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "active": false,
  "versionId": "cbce4e7b-ed3f-4a1e-9da3-4acc3b5c6f22",
  "id": "f174c3c0-2b84-46fb-8ca1-2517aceced9c",
  "tags": []
}
