n8n/workflows/06-ai-review-handoff.json
{
  "name": "KeyPoint | AI review handoff",
  "nodes": [
    {
      "id": "reviewTrigger",
      "name": "AI review trigger",
      "type": "n8n-nodes-base.airtableTrigger",
      "typeVersion": 1,
      "position": [
        220,
        260
      ],
      "parameters": {
        "base": "={{ $env.AIRTABLE_BASE_ID }}",
        "table": "={{ $env.AIRTABLE_CASES_TABLE }}",
        "options": {
          "watchFor": "recordUpdated"
        }
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-keypoint",
          "name": "Airtable KeyPoint"
        }
      }
    },
    {
      "id": "eligibleStage",
      "name": "Eligible for AI review?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        500,
        260
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.fields[\"Current stage\"] }}",
              "operation": "regex",
              "value2": "secretary-review|ready-for-bank"
            }
          ]
        }
      }
    },
    {
      "id": "fetchDocuments",
      "name": "Fetch approved docs",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        780,
        200
      ],
      "parameters": {
        "operation": "list",
        "base": {
          "mode": "id",
          "value": "={{ $env.AIRTABLE_BASE_ID }}"
        },
        "table": {
          "mode": "name",
          "value": "={{ $env.AIRTABLE_DOCUMENTS_TABLE }}"
        },
        "additionalOptions": {
          "filterByFormula": "={{ \"AND(FIND(\"\" + $item(0).$node[\"AI review trigger\"].json.id + \"\", ARRAYJOIN({Case link})), {Status}=\"approved\")\" }}"
        }
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-keypoint",
          "name": "Airtable KeyPoint"
        }
      }
    },
    {
      "id": "anonymizePackage",
      "name": "Build anonymized package",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        200
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const caseFields = $item(0).$node[\"AI review trigger\"].json.fields;\nconst docs = $json.records || [];\nreturn [{ json: {\n  caseId: $item(0).$node[\"AI review trigger\"].json.id,\n  triggerStage: caseFields['Current stage'],\n  anonymizedPayload: {\n    caseType: caseFields['Case type'],\n    borrowerProfiles: caseFields['Borrower profiles'],\n    missingItemsCount: caseFields['Missing items count'],\n    docs: docs.map((doc) => ({ code: doc.fields['Document code'], ocrSummary: doc.fields['OCR summary'] }))\n  }\n}}];"
      }
    },
    {
      "id": "callReviewAgent",
      "name": "Send to AI reviewer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AI_REVIEW_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { caseId: $json.caseId, payload: $json.anonymizedPayload } }}"
      }
    },
    {
      "id": "saveReview",
      "name": "Save AI review",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1600,
        200
      ],
      "parameters": {
        "operation": "create",
        "base": {
          "mode": "id",
          "value": "={{ $env.AIRTABLE_BASE_ID }}"
        },
        "table": {
          "mode": "name",
          "value": "={{ $env.AIRTABLE_AI_REVIEWS_TABLE }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": "={{ { \"Case link\": [$item(0).$node[\"AI review trigger\"].json.id], \"Triggered by\": \"workflow\", \"Anonymized payload ref\": JSON.stringify($item(0).$node[\"Build anonymized package\"].json.anonymizedPayload), \"Review status\": $json.status || \"completed\", \"Findings summary\": $json.summary || \"\", \"Missing items found\": ($json.missingItems || []).join(\", \"), \"Risk flags\": ($json.risks || []).join(\", \"), \"Suggested next steps\": ($json.nextSteps || []).join(\" | \") } }}"
        }
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-keypoint",
          "name": "Airtable KeyPoint"
        }
      }
    },
    {
      "id": "createTasks",
      "name": "Create office follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1860,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OFFICE_ALERT_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { caseId: $item(0).$node[\"AI review trigger\"].json.id, message: `AI review completed. Risks: ${($json.risks || []).join(\", \") || \"none\"}` } }}"
      }
    }
  ],
  "connections": {
    "AI review trigger": {
      "main": [
        [
          {
            "node": "Eligible for AI review?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eligible for AI review?": {
      "main": [
        [
          {
            "node": "Fetch approved docs",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Fetch approved docs": {
      "main": [
        [
          {
            "node": "Build anonymized package",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build anonymized package": {
      "main": [
        [
          {
            "node": "Send to AI reviewer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to AI reviewer": {
      "main": [
        [
          {
            "node": "Save AI review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save AI review": {
      "main": [
        [
          {
            "node": "Create office follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    "keypoint",
    "mortgage-mvp",
    "israel"
  ],
  "versionId": "1"
}
