n8n/workflows/07-client-status-notifications.json
{
  "name": "KeyPoint | Client status notifications",
  "nodes": [
    {
      "id": "statusTrigger",
      "name": "Case status trigger",
      "type": "n8n-nodes-base.airtableTrigger",
      "typeVersion": 1,
      "position": [
        220,
        280
      ],
      "parameters": {
        "base": "={{ $env.AIRTABLE_BASE_ID }}",
        "table": "Cases",
        "options": {
          "watchFor": "recordUpdated"
        }
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-keypoint",
          "name": "Airtable KeyPoint"
        }
      }
    },
    {
      "id": "stageChanged",
      "name": "Allowed client-facing stage?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        500,
        280
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.fields[\"Current stage\"] }}",
              "operation": "regex",
              "value2": "portal-activated|documents-in-progress|waiting-appraiser|appraisal-received|ready-for-bank|recommendation-prepared|completed"
            }
          ]
        }
      }
    },
    {
      "id": "loadClient",
      "name": "Load client contact",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        780,
        220
      ],
      "parameters": {
        "operation": "search",
        "base": {
          "mode": "id",
          "value": "={{ $env.AIRTABLE_BASE_ID }}"
        },
        "table": {
          "mode": "name",
          "value": "Clients"
        },
        "filterByFormula": "={{ \"FIND(\"\" + $item(0).$node[\"Case status trigger\"].json.id + \"\", ARRAYJOIN({Case link}))\" }}"
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-keypoint",
          "name": "Airtable KeyPoint"
        }
      }
    },
    {
      "id": "composeTemplate",
      "name": "Compose message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        220
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const stage = $item(0).$node[\"Case status trigger\"].json.fields['Current stage'];\nconst messages = {\n  'portal-activated': 'הפורטל נפתח ואפשר להתחיל להעלות מסמכים.',\n  'documents-in-progress': 'קיבלנו חלק מהמסמכים וממשיכים בבדיקה.',\n  'waiting-appraiser': 'התיק הועבר לתיאום שמאות.',\n  'appraisal-received': 'השמאות התקבלה ונמשיך לשלב הבא.',\n  'ready-for-bank': 'התיק מוכן לפנייה לבנקים.',\n  'recommendation-prepared': 'המלצת המשכנתא מוכנה לתיאום שיחה.',\n  'completed': 'התיק הושלם. תודה שבחרת ב-KeyPoint.'\n};\nreturn [{ json: {\n  stage,\n  message: messages[stage] || 'יש עדכון בתיק שלך ב-KeyPoint.',\n  phone: $json.fields?.['WhatsApp number'] || '',\n  email: $json.fields?.Email || ''\n}}];"
      }
    },
    {
      "id": "sendWhatsapp",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        160
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WHATSAPP_PROVIDER_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { to: $json.phone, body: $json.message, stage: $json.stage } }}"
      }
    },
    {
      "id": "whatsAppFailed",
      "name": "WhatsApp missing?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        320
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.phone }}",
              "operation": "isEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "sendEmailFallback",
      "name": "Send email fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        320
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EMAIL_PROVIDER_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { to: $json.email, subject: \"KeyPoint status update\", text: $json.message } }}"
      }
    },
    {
      "id": "logNotification",
      "name": "Log notification",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1860,
        220
      ],
      "parameters": {
        "operation": "create",
        "base": {
          "mode": "id",
          "value": "={{ $env.AIRTABLE_BASE_ID }}"
        },
        "table": {
          "mode": "name",
          "value": "Activity log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": "={{ { \"Case link\": [$item(0).$node[\"Case status trigger\"].json.id], Actor: \"client-notifier\", \"Event type\": \"client_status_update\", Summary: `Client notified about ${$json.stage}`, \"Source system\": \"n8n\", Timestamp: new Date().toISOString() } }}"
        }
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-keypoint",
          "name": "Airtable KeyPoint"
        }
      }
    }
  ],
  "connections": {
    "Case status trigger": {
      "main": [
        [
          {
            "node": "Allowed client-facing stage?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Allowed client-facing stage?": {
      "main": [
        [
          {
            "node": "Load client contact",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Load client contact": {
      "main": [
        [
          {
            "node": "Compose message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose message": {
      "main": [
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          },
          {
            "node": "WhatsApp missing?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp missing?": {
      "main": [
        [
          {
            "node": "Send email fallback",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send WhatsApp": {
      "main": [
        [
          {
            "node": "Log notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email fallback": {
      "main": [
        [
          {
            "node": "Log notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    "keypoint",
    "mortgage-mvp",
    "israel"
  ],
  "versionId": "1"
}
