n8n/workflows/08-secretary-daily-briefing.json
{
  "name": "KeyPoint | Secretary daily briefing",
  "nodes": [
    {
      "id": "cronTrigger",
      "name": "Daily 8:00 AM",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [220, 280],
      "parameters": {
        "triggerTimes": {
          "item": [{ "mode": "everyDay", "hour": 8, "minute": 0 }]
        }
      }
    },
    {
      "id": "loadCases",
      "name": "Load all open cases",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [440, 280],
      "parameters": {
        "operation": "list",
        "base": "={{ $env.AIRTABLE_BASE_ID }}",
        "table": "={{ $env.AIRTABLE_CASES_TABLE }}",
        "filterByFormula": "AND(NOT({Current stage} = 'completed'), NOT({Current stage} = ''))",
        "fields": ["Case ID", "Lead name", "Current stage", "Missing items count", "Next action", "Assigned staff", "Last modified"]
      },
      "credentials": {
        "airtableTokenApi": { "id": "airtable-keypoint", "name": "Airtable KeyPoint" }
      }
    },
    {
      "id": "buildBriefing",
      "name": "Build briefing message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 280],
      "parameters": {
        "jsCode": "const now = Date.now();\nconst DAY_MS = 86400000;\nconst items = $input.all().map(r => r.json);\n\nconst stuckCases = items.filter(c => (c['Missing items count'] || 0) > 0);\nconst waitingAppraiser = items.filter(c => c['Current stage'] === 'waiting-appraiser');\nconst bankNegotiation = items.filter(c => c['Current stage'] === 'bank-negotiation');\nconst newSinceYesterday = items.filter(c => {\n  const mod = new Date(c['Last modified'] || 0).getTime();\n  return mod > now - DAY_MS;\n});\n\nconst lines = ['🗂️ *ברייפינג יומי — KeyPoint*', `📅 ${new Date().toLocaleDateString('he-IL')}`, ''];\n\nif (newSinceYesterday.length) {\n  lines.push(`🆕 *תיקים שעודכנו מאתמול* (${newSinceYesterday.length})`);\n  newSinceYesterday.slice(0, 5).forEach(c => lines.push(`  • ${c['Lead name']} — ${c['Current stage']}`));\n  lines.push('');\n}\n\nif (stuckCases.length) {\n  lines.push(`🔴 *תיקים תקועים — מסמכים חסרים* (${stuckCases.length})`);\n  stuckCases.slice(0, 8).forEach(c => lines.push(`  • ${c['Lead name']} — ${c['Missing items count']} חסרים`));\n  lines.push('');\n}\n\nif (waitingAppraiser.length) {\n  lines.push(`🏠 *ממתין לשמאי* (${waitingAppraiser.length})`);\n  waitingAppraiser.forEach(c => lines.push(`  • ${c['Lead name']}`));\n  lines.push('');\n}\n\nif (bankNegotiation.length) {\n  lines.push(`🏦 *משא ומתן עם בנק* (${bankNegotiation.length})`);\n  bankNegotiation.forEach(c => lines.push(`  • ${c['Lead name']}`));\n  lines.push('');\n}\n\nlines.push(`סה\"כ תיקים פתוחים: ${items.length}`);\n\nreturn [{ json: { message: lines.join('\\n'), caseCount: items.length } }];"
      }
    },
    {
      "id": "sendAlert",
      "name": "Send to office alert webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [880, 280],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OFFICE_ALERT_WEBHOOK_URL }}",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ text: $json.message, kind: 'daily-briefing' }) }}"
      }
    }
  ],
  "connections": {
    "Daily 8:00 AM": { "main": [[{ "node": "Load all open cases", "type": "main", "index": 0 }]] },
    "Load all open cases": { "main": [[{ "node": "Build briefing message", "type": "main", "index": 0 }]] },
    "Build briefing message": { "main": [[{ "node": "Send to office alert webhook", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "description": "Sends a morning summary to the secretary: new cases, stuck cases, appraiser queue, bank negotiation cases." }
}
